<div id="sidebar-filters">


    <div class="filters">
        <!------------------------------ LIEU  ----------------------------------->

        <div class="filter-title" id="filter8" type="button" data-toggle="collapse" data-target="#demo8">
          <div class="filter-and-pastille">
            <h2>Lieu</h2>
            <% if params[:city] == "" %>
              <div></div>
            <% else %>
              <div class="pastille"></div>
            <% end %>

          </div>

          <div class="chevron">
            <%= image_tag "chevronbas1754127.svg"%>
          </div>
        </div>
        <div id="demo8" class="collapse">
          <%= form_tag('/schools', method: :get )  do %>
            <div class="all-checkboxes">
              <%= text_field_tag('city', nil, placeholder: 'Ville', class:"form-control rounded-tft2") %>
            </div>
          <%# end %>
        </div>


     <!------------------------------ NIVEAU SCOLAIRE  ----------------------------------->


        <div class="filter-title" id="filter9" type="button" data-toggle="collapse" data-target="#demo9">
          <div class="filter-and-pastille">
            <h2>Niveau scolaire</h2>
            <% if params[:type] %>
              <div class="pastille"></div>
            <% end %>
          </div>
          <div class="chevron">
            <%= image_tag "chevronbas1754127.svg"%>
          </div>
        </div>

        <div id="demo9" class="collapse">
          <%#= form_tag('/schools', method: :get )  do %>
            <div class="all-checkboxes">
              <div class="niveau-scolaire-checkboxes">
                <div class="btn-group-toggle2" >
                  <%= radio_button_tag 'type', "primaire", false %>
                  <%= label_tag :type_primaire, "Primaire" %>
                </div>
                <div class="btn-group-toggle2" >
                  <%= radio_button_tag 'type', "college", (params[:type] == "college" ? true : false)
                   %>
                  <%= label_tag :type_college, "Collège" %>
                </div>
                <div class="btn-group-toggle2" >
                  <%= radio_button_tag 'type', "lycee", (params[:type] == "lycee" ? true : false)%>
                  <%= label_tag :type_lycee, "Lycée"%>
                </div>
                <div class="btn-group-toggle2" >
                  <%= radio_button_tag 'type', "sup", false%>
                  <%= label_tag :type_sup, "Ecole Sup"%>
                </div>
              </div>
            </div>

                <%= submit_tag 'Recherchez votre école !', class: "submit-home-button", id: "submit-search" %>
          <% end %>
        </div>







      <!----- COLLEGE FILTERS  ----->


      <!------------------------------ COLLEGE SECTIONS  ----------------------------------->
      <% if @search.aggregations.key?("college.sections") %>
        <div class="filter-title" id="filter1" type="button" data-toggle="collapse" data-target="#demo1">
          <div class="filter-and-pastille">
            <h2>Sections</h2>
            <% if params["college.sections"] %>
              <div class="pastille"></div>
            <% end %>
          </div>

          <div class="chevron">
            <%= image_tag "chevronbas1754127.svg"%>
          </div>
        </div>
        <div id="demo1" class="collapse">
          <% if @filters.key?("college.sections") %>
            <%= link_to "toutes les sections", schools_path(@filters.merge("college.sections" => nil)) %>
          <% end %>
          <ul class="list-unstyled filter-space-list">
            <% (@search.aggregations["college.sections"]["buckets"] || @search.aggregations["college.sections"]["college.sections"]["buckets"]).each do |filter| %>
              <li>
                <%= link_to schools_path(@filters.merge("college.sections" => filter["key"])), class:  @filters["college.sections"] == filter["key"] ? "filter-active" : "" do %>
                  <%= filter["key"] %> (<%= filter["doc_count"] %>)
                  <%= link_to schools_path(@filters.merge("college.sections" => nil)), class:  @filters["college.sections"] == filter["key"] ? "" : "hidesuplink" do %>
                    <i class="fas fa-times"></i>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>




       <!------------------------------ COLLEGE STATUT  ----------------------------------->

      <% if @search.aggregations.key?("college.statut") %>
        <div class="filter-title" id="filter2" type="button" data-toggle="collapse" data-target="#demo2">
          <div class="filter-and-pastille">
            <h2>Statut</h2>
            <% if params["college.statut"]  %>
              <div class="pastille"></div>
            <% end %>
          </div>

          <div class="chevron">
            <%= image_tag "chevronbas1754127.svg"%>
          </div>
        </div>
        <div id="demo2" class="collapse">
          <% if @filters.key?("college.statut") %>
            <%= link_to "toutes les statut", schools_path(@filters.merge("college.statut" => nil)) %>
          <% end %>
          <ul class="list-unstyled filter-space-list">
            <% (@search.aggregations["college.statut"]["buckets"] || @search.aggregations["college.statut"]["college.statut"]["buckets"]).each do |filter| %>
              <li>
                <%= link_to schools_path(@filters.merge("college.statut" => filter["key"])), class:  @filters["college.statut"] == filter["key"] ? "filter-active" : "" do %>
                  <%= filter["key"] %> (<%= filter["doc_count"] %>)
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>



      <!------------------------------ COLLEGE EXTRA SCOLAIRE  ----------------------------------->

      <% if @search.aggregations.key?("college.activities") %>
        <div class="filter-title" id="filter7" type="button" data-toggle="collapse" data-target="#demo7">
          <div class="filter-and-pastille">
            <h2>Extra-scolaire</h2>
            <% if params["college.activities"]  %>
              <div class="pastille"></div>
            <% end %>
          </div>


          <div class="chevron">
            <%= image_tag "chevronbas1754127.svg"%>
          </div>
        </div>
        <div id="demo7" class="collapse">
          <% if @filters.key?("college.activities") %>
            <%= link_to "toutes les activities", schools_path(@filters.merge("college.activities" => nil)) %>
          <% end %>
          <ul class="list-unstyled filter-space-list">
            <% (@search.aggregations["college.activities"]["buckets"] || @search.aggregations["college.activities"]["college.activities"]["buckets"]).each do |filter| %>
              <li>
                <%= link_to schools_path(@filters.merge("college.activities" => filter["key"])), class:  @filters["college.activities"] == filter["key"] ? "filter-active" : "" do %>
                  <%= filter["key"] %> (<%= filter["doc_count"] %>)
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>







      <!--------------- LYCEE FILTERS ---------------------->



      <!------------------------------ LYCEE FILIERES  ----------------------------------->
      <% if @search.aggregations.key?("lycee_filieres.name") %>
        <div class="filter-title" id="filter3" type="button" data-toggle="collapse" data-target="#demo3">
          <div class="filter-and-pastille">
            <h2>Filières</h2>
            <% if params["lycee_filieres.name"]  %>
              <div class="pastille"></div>
            <% end %>
          </div>

          <div class="chevron">
            <%= image_tag "chevronbas1754127.svg"%>
          </div>
        </div>
        <div id="demo3" class="collapse">
          <% if @filters.key?("lycee_filieres.name") %>
            <%= link_to "toutes les filières", schools_path(@filters.merge("lycee_filieres.name" => nil)) %>
          <% end %>
          <ul class="list-unstyled filter-space-list">
            <% (@search.aggregations["lycee_filieres.name"]["buckets"] || @search.aggregations["lycee_filieres.name"]["lycee_filieres.name"]["buckets"]).each do |filter| %>
              <li>
                <%= link_to schools_path(@filters.merge("lycee_filieres.name" => filter["key"])), class:  @filters["lycee_filieres.name"] == filter["key"] ? "filter-active" : "" do %>
                  <%= filter["key"] %> (<%= filter["doc_count"] %>)
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>



      <!------------------------------ LYCEE TX REUSSITE GLOBAL  ----------------------------------->

      <% if @search.aggregations.key?("lycee_filieres.mention_rate") %>
        <div class="filter-title" id="filter4" type="button" data-toggle="collapse" data-target="#demo4">
          <div class="filter-and-pastille">
            <h2>Taux de réussite global</h2>
            <% if params["lycee_filieres.mention_rate"]  %>
              <div class="pastille"></div>
            <% end %>
          </div>

          <div class="chevron">
            <%= image_tag "chevronbas1754127.svg"%>
          </div>
        </div>
        <div id="demo4" class="collapse">
          <% if @filters.key?("lycee_filieres.mention_rate") %>
            <%= link_to "Supprimer le filtre", schools_path(@filters.merge("lycee_filieres.mention_rate" => nil)) %>
          <% end %>
          <ul class="list-unstyled filter-space-list">
            <% (@search.aggregations["lycee_filieres.mention_rate"]["buckets"] || @search.aggregations["lycee_filieres.mention_rate"]["lycee_filieres.mention_rate"]["buckets"]).each do |filter| %>
              <li>
                <%= link_to schools_path(@filters.merge("lycee_filieres.mention_rate" => filter["key"])), class:  @filters["lycee_filieres.mention_rate"] == filter["key"] ? "filter-active" : "" do %>
                  <% if filter["key"] == "0.0-70.0" %>

                  <% elsif filter["key"] == "70.0-80.0" %>
                    Plus de 70%
                  <% elsif filter["key"] == "80.0-90.0" %>
                    Plus de 80%
                  <% else %>
                    Plus de 90%
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <!------------------------------ LYCEE SECTIONS  ----------------------------------->

      <% if @search.aggregations.key?("lycee.sections") %>
        <div class="filter-title" id="filter5" type="button" data-toggle="collapse" data-target="#demo5">
          <div class="filter-and-pastille">
            <h2>Sections</h2>
            <% if params["lycee.sections"]  %>
              <div class="pastille"></div>
            <% end %>
          </div>

          <div class="chevron">
            <%= image_tag "chevronbas1754127.svg"%>
          </div>
        </div>
        <div id="demo5" class="collapse">
          <% if @filters.key?("lycee.sections") %>
            <%= link_to "toutes les sections", schools_path(@filters.merge("lycee.sections" => nil)) %>
          <% end %>
          <ul class="list-unstyled filter-space-list">
            <% (@search.aggregations["lycee.sections"]["buckets"] || @search.aggregations["lycee.sections"]["lycee.sections"]["buckets"]).each do |filter| %>
              <li>
                <%= link_to schools_path(@filters.merge("lycee.sections" => filter["key"])), class:  @filters["lycee.sections"] == filter["key"] ? "filter-active" : "" do %>
                  <%= filter["key"] %> (<%= filter["doc_count"] %>)
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>


     <!------------------------------ LYCEE STATUT  ----------------------------------->

      <% if @search.aggregations.key?("lycee.statut") %>
        <div class="filter-title" id="filter6" type="button" data-toggle="collapse" data-target="#demo6">
          <div class="filter-and-pastille">
            <h2>Statut</h2>
            <% if params["lycee.statut"]  %>
              <div class="pastille"></div>
            <% end %>
          </div>

          <div class="chevron">
            <%= image_tag "chevronbas1754127.svg"%>
          </div>
        </div>
        <div id="demo6" class="collapse">
          <% if @filters.key?("lycee.statut") %>
            <%= link_to "toutes les statut", schools_path(@filters.merge("lycee.statut" => nil)) %>
          <% end %>
          <ul class="list-unstyled filter-space-list">
            <% (@search.aggregations["lycee.statut"]["buckets"] || @search.aggregations["lycee.statut"]["lycee.statut"]["buckets"]).each do |filter| %>
              <li>
                <%= link_to schools_path(@filters.merge("lycee.statut" => filter["key"])), class:  @filters["lycee.statut"] == filter["key"] ? "filter-active" : "" do %>
                  <%= filter["key"] %> (<%= filter["doc_count"] %>)
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <!--------------- LYCEE FILTERS ---------------------->

    </div>
  </div>
