<br>


<div class="container">
  <%= form_tag('/schools', method: :get, class: 'text-center')  do %>

      <div class="btn-group-toggle">
        <%= label_tag :checkbox, "Primaire" %>
        <%= radio_button_tag 'type', "primaire", true %>
      </div>
      <div class="btn-group-toggle">
        <%= label_tag :checkbox, "Collège" %>
        <%= radio_button_tag 'type', "college", true %>
      </div>
      <div class="btn-group-toggle">
        <%= label_tag :checkbox, "Lycée" %>
        <%= radio_button_tag 'type', "lycee", true%>
      </div>
      <div class="btn-group-toggle">
        <%= label_tag :checkbox, "Ecole Sup" %>
        <%= radio_button_tag 'type', "sup", true%>
      </div>


    <%= text_field_tag('city', nil, placeholder: 'Dans quelle ville cherchez-vous? Ex: Paris, Marseille ...', class:"form-control") %>

    <br>
    <%= submit_tag 'Recherchez votre école !', class: "btn btn-primary" %>
  <% end %>

</div>







