
<div class="home-wrapper">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>


  <%= form_tag("/schools", method: "get") do %>
    <div class="form-group">
      <%= label_tag(:college, "Collège") %>
      <%= check_box_tag(:college) %>
      <%= label_tag(:lycee, "Lycée") %>
      <%= check_box_tag(:lycee) %>
    </div>
    <div class="form-group">
      <%= label_tag(:commune, "Commune :") %>
      <%= text_field_tag(:commune) %>
    </div>
    <%= submit_tag("Search") %>
  <% end %>
</div>

