<%= render 'shared/navbar' %>


<!-- Compteur d'écoles sélectionnées encapsulé dans un lien menant à la page de comparaison ------->
    <%= link_to  selection_schools_path, class: "selection-link" do %>
      <div id="displaynonebutton">
        <% if session[:selection] && session[:selection].size > 0 %>
          <%= render "counter" %>
        <% end %>
      </div>
    <% end %>




<div class="main-container">
  <!---------- Barre latérale qui contient tous les filtres "facets" ---------->
  <%= render 'components/sidebar_filters' %>
  <div class="container">
    <!-- Div située au dessus des résultats de recherche qui contient tous les tags des filtres activés et le nombre d'écoles toujours affichées -->
    <%= render 'components/count_and_tags' %>

    <!-- Phrase d'aide pour l'onboarding: on indique à l'utilisateur la suite des opérations pour sa visite -->
    <p style="font-size: 24px;">Sélectionnez les écoles que vous souhaitez comparer</p>


    <!-- Lien pour supprimer les écoles enregistrées dans la session  -->
    <%= link_to clean_path, remote: true do %>
      <p>Effacer la sélection</p>
    <% end %>



    <!-- Résultats de la recherche sous forme de cartes  -->
    <div class="results-container">
      <div class="row">
        <% @schools.each do |school| %>

          <% if school.college %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="main-card">
                <% if school.photo.url != nil %>
                  <div class="card-image2" style="background-image: url('<%= cl_image_path school.photo%>') !important">
                <% else %>
                  <div class="card-image2">
                <% end %>
                  <%= link_to compare_school_path(school), remote: true do %>

                    <p class= "card-image-button<%= session[:selection]&.include?(school.id.to_s) ? " card-image-button-active" : "" %>" >
                      +
                    </p>
                  <% end %>
                </div>
                <div class="give-card-space"></div>
                  <div class="card-school-name">
                    <% if school.name.length > 38 %>
                      <h2>Collège <%= school.name[0..34] + "..." %></h2>
                    <% else %>
                      <h2>Collège <%= school.name%></h2>
                    <% end %>
                  </div>

                  <div class="card-description">
                    <h5><%= school.commune %></h5>
                    <p><%= school.statut %></p>
                    <ul class="list-inline">
                      <li>Ecole</li>
                      <li class="li-active">College</li>
                      <li>Lycee</li>
                      <li>Prepa</li>
                      <li>BTS</li>
                    </ul>
                  </div>
                  <div class="card-rating">

                      <% randNumber = school.college.rating %>
                      <% randNumber.times do |star| %>
                        <%= image_tag "Icons/star_Magicon_full_yellow_160801_F5D327.svg", class: "star-full-show" %>
                      <% end %>

                  </div>


                  <div class="links-bottom-card" >
                    <div class="link-bottom-card text-center left-link">
                      <%= link_to school_path(school) do  %>
                        <p>Fiche complète</p>
                      <% end %>
                    </div>
                    <div class="link-bottom-card text-center en-savoir-plus right-link" type="button" >
                      <p>En savoir plus</p>
                    </div>
                  </div>



<!-------------------------------------- COLLEGE HOVER CARD ----------------------------------->

                  <div class="hover-card">
                    <div class="back-card-school-name-and-address">
                      <h4><%= school.name %></h4>
                      <p><%= school.college.address %></p>
                    </div>

                    <div class="back-card-icons">
                      <div class="back-geoloc text-center">
                        <%= image_tag "Icons/np_location_304559_000000.svg", width: 40%>
                        <p><%= (1..15).to_a.sample %>km</p>
                      </div>
                      <div class="back-cantine text-center">
                        <%= image_tag "Icons/Type_ou_niveau_noun_1698517.svg", width: 40%>
                        <p>Cantine</p>
                      </div>
                      <div class="back-pensionnat text-center">
                        <%= image_tag "Icons/Pensionat_969313_000000.svg", width: 40%>
                        <p>Pensionnat</p>
                      </div>
                    </div>

                    <div class="back-card-stats">
                      <div class="back-card-stats-blocks text-center">
                        <p>Sections internationales</p>
                        <h3><%= school.college.sections.count %></h3>
                      </div>
                      <div class="back-card-stats-blocks text-center">
                        <p>Sections européennes</p>
                        <h3><%= (1..7).to_a.sample %></h3>
                      </div>
                      <div class="back-card-stats-blocks text-center">
                        <p>Options <br>matières</p>
                        <h3><%= (1..9).to_a.sample %></h3>
                      </div>
                    </div>

                    <div class="back-card-stats">
                      <div class="back-card-stats-blocks text-center orange-data">
                        <p>Résultats <br>au bac</p>
                        <h3> <%= (85..99).to_a.sample %>%</h3>
                      </div>
                      <div class="back-card-stats-blocks text-center orange-data">
                        <p>Taux de <br>mention</p>
                        <h3><%= (60..80).to_a.sample %>%</h3>
                      </div>
                      <div class="back-card-stats-blocks text-center orange-data">
                        <p>Mentions <br>très bien</p>
                        <h3><%= (1..35).to_a.sample %>%</h3>
                      </div>
                    </div>


                    <div class="back-card-stats">
                      <div class="back-card-stats-blocks text-center small-gray-data">
                        <p>Classement <br>national</p>
                        <h3><%= (1..80).to_a.sample %></h3>
                      </div>
                      <div class="back-card-stats-blocks text-center small-gray-data">
                        <p>Frais de <br>scolarité</p>
                        <h3><%= [6500, 7000, 7500, 8000, 8500, 9500, 3000].sample%></h3>
                      </div>
                      <div class="back-card-stats-blocks text-center small-gray-data">
                        <p>Date de <br>rentrée</p>
                        <h3>
                          <%= (1..30).to_a.sample %>
                          /
                          <%= ["09" , "10" , "11"].sample %>
                        </h3>
                      </div>
                    </div>

                    <div class="links-bottom-card2" >
                        <div class="link-bottom-card2 text-center left-link2">
                          <%= link_to school_path(school) do  %>
                            <p>Fiche complète</p>
                          <% end %>
                        </div>
                      <div class="link-bottom-card2 text-center en-savoir-plus2 right-link2" type="button" >
                        <p>En savoir plus</p>
                      </div>
                    </div>
                  </div>





              </div>
            </div>
          <% end %>




<!-------------------------------------- LYCEE CARDS ----------------------------------->
          <% if school.lycee %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="main-card">
                <% if school.photo.url != nil %>
                  <div class="card-image2" style="background-image: url('<%= cl_image_path school.photo%>') !important">
                <% else %>
                  <div class="card-image2">
                <% end %>

                  <%= link_to compare_school_path(school), remote: true do %>

                    <p class= "card-image-button<%= session[:selection]&.include?(school.id.to_s) ? " card-image-button-active" : "" %>" >
                      +
                    </p>
                  <% end %>
                </div>
                <div class="give-card-space"></div>
                  <div class="card-school-name">
                    <% if school.name.length > 38 %>
                      <h2>Lycée <%= school.name[0..34] + "..." %></h2>
                    <% else %>
                      <h2>Lycée <%= school.name%></h2>
                    <% end %>
                  </div>

                  <div class="card-description">
                    <h5><%= school.commune %></h5>
                    <p><%= school.statut %></p>
                    <ul class="list-inline">
                      <li>Ecole</li>
                      <li>College</li>
                      <li class="li-active">Lycee</li>
                      <li>Prepa</li>
                      <li>BTS</li>
                    </ul>
                  </div>

                  <div class="card-rating">

                      <% randNumber = school.lycee.rating %>
                      <% randNumber.times do |star| %>
                        <%= image_tag "Icons/star_Magicon_full_yellow_160801_F5D327.svg", class: "star-full-show" %>
                      <% end %>

                  </div>

                  <div class="links-bottom-card">
                    <div class="link-bottom-card text-center left-link">
                      <%= link_to school_path(school) do  %>
                        <p>Fiche complète</p>
                      <% end %>
                    </div>
                    <div class="link-bottom-card text-center en-savoir-plus right-link" type="button">
                      <p>En savoir plus</p>
                    </div>
                  </div>



<!-------------------------------------- LYCEE HOVER CARD ----------------------------------->


                  <div class="hover-card">
                    <div class="back-card-school-name-and-address">
                      <h4><%= school.name %></h4>
                      <p><%= school.lycee.address %></p>
                    </div>

                    <div class="back-card-icons">
                      <div class="back-geoloc text-center">
                        <%= image_tag "Icons/np_location_304559_000000.svg", width: 40%>
                        <p><%= (1..15).to_a.sample %>km</p>
                      </div>
                      <div class="back-cantine text-center">
                        <%= image_tag "Icons/Type_ou_niveau_noun_1698517.svg", width: 40%>
                        <p>Cantine</p>
                      </div>
                      <div class="back-pensionnat text-center">
                        <%= image_tag "Icons/Pensionat_969313_000000.svg", width: 40%>
                        <p>Pensionnat</p>
                      </div>
                    </div>

                    <div class="back-card-stats">
                      <div class="back-card-stats-blocks text-center">
                        <p>Sections internationales</p>
                        <h3><%= school.lycee.sections.count %></h3>
                      </div>
                      <div class="back-card-stats-blocks text-center">
                        <p>Sections européennes</p>
                        <h3><%= (1..7).to_a.sample %></h3>
                      </div>
                      <div class="back-card-stats-blocks text-center">
                        <p>Options <br>matières</p>
                        <h3><%= (1..9).to_a.sample %></h3>
                      </div>
                    </div>

                    <div class="back-card-stats">
                      <div class="back-card-stats-blocks text-center orange-data">
                        <p>Résultats <br>au bac</p>
                        <h3><%= (85..99).to_a.sample %>%</h3>
                      </div>
                      <div class="back-card-stats-blocks text-center orange-data">
                        <p>Taux de <br>mention</p>
                        <h3><%= (60..80).to_a.sample %>%</h3>
                      </div>
                      <div class="back-card-stats-blocks text-center orange-data">
                        <p>Mentions <br>très bien</p>
                        <h3><%= (1..35).to_a.sample %>%</h3>
                      </div>
                    </div>


                    <div class="back-card-stats">
                      <div class="back-card-stats-blocks text-center small-gray-data">
                        <p>Classement <br>national</p>
                        <h3><%= (1..80).to_a.sample %></h3>
                      </div>
                      <div class="back-card-stats-blocks text-center small-gray-data">
                        <p>Frais de <br>scolarité</p>
                        <h3><%= [6500, 7000, 7500, 8000, 8500, 9500, 3000].sample%></h3>
                      </div>
                      <div class="back-card-stats-blocks text-center small-gray-data">
                        <p>Date <br>inscription</p>
                        <h3><%= (1..30).to_a.sample %>
                          /
                          <%= ["09" , "10" , "11"].sample %></h3>
                      </div>
                    </div>

                    <div class="links-bottom-card2" >
                      <div class="link-bottom-card2 text-center left-link2">
                        <%= link_to school_path(school) do  %>
                          <p>Fiche complète</p>
                        <% end %>
                      </div>
                      <div class="link-bottom-card2 text-center en-savoir-plus2 right-link2" type="button" >
                        <p>En savoir plus</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>










