

<div class="main-container">
  <div id="sidebar-filters">
    <div class="filters">
      <!------------------------ COLLEGE FILTERS  ------------>
      <% if @search.aggregations.key?("college.sections") %>
        <h2 type="button" data-toggle="collapse" data-target="#demo">Sections</h2>
        <div id="demo" class="collapse">
          <% if @filters.key?("college.sections") %>
            <%= link_to "toutes les sections", schools_path(@filters.merge("college.sections" => nil)) %>
          <% end %>
          <ul class="list-unstyled">
            <% (@search.aggregations["college.sections"]["buckets"] || @search.aggregations["college.sections"]["college.sections"]["buckets"]).each do |filter| %>
              <li>
                <%= link_to schools_path(@filters.merge("college.sections" => filter["key"])) do %>
                  <%= filter["key"] %> (<%= filter["doc_count"] %>)
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @search.aggregations.key?("college.statut") %>
        <h2 type="button" data-toggle="collapse" data-target="#demo2">Statut</h2>
        <div id="demo2" class="collapse">
          <% if @filters.key?("college.statut") %>
            <%= link_to "toutes les statut", schools_path(@filters.merge("college.statut" => nil)) %>
          <% end %>
          <ul class="list-unstyled">
            <% (@search.aggregations["college.statut"]["buckets"] || @search.aggregations["college.statut"]["college.statut"]["buckets"]).each do |filter| %>
              <li>
                <%= link_to schools_path(@filters.merge("college.statut" => filter["key"])) do %>
                  <%= filter["key"] %> (<%= filter["doc_count"] %>)
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <!------------------------ COLLEGE FILTERS  ------------>


      <!--------------- LYCEE FILTERS ---------------------->

      <% if @search.aggregations.key?("lycee_filieres.name") %>
        <h2 type="button" data-toggle="collapse" data-target="#demo3">Filières</h2>
        <div id="demo3" class="collapse">

          <% if @filters.key?("lycee_filieres.name") %>
            <%= link_to "toutes les filières", schools_path(@filters.merge("lycee_filieres.name" => nil)) %>
          <% end %>
          <ul class="list-unstyled">
            <% (@search.aggregations["lycee_filieres.name"]["buckets"] || @search.aggregations["lycee_filieres.name"]["lycee_filieres.name"]["buckets"]).each do |filter| %>
              <li>
                <%= link_to schools_path(@filters.merge("lycee_filieres.name" => filter["key"])) do %>
                  <%= filter["key"] %> (<%= filter["doc_count"] %>)
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @search.aggregations.key?("lycee_filieres.mention_rate") %>
        <h2 type="button" data-toggle="collapse" data-target="#demo4">Taux de réussite global</h2>
        <div id="demo4" class="collapse">
          <% if @filters.key?("lycee_filieres.mention_rate") %>
            <%= link_to "Supprimer le filtre", schools_path(@filters.merge("lycee_filieres.mention_rate" => nil)) %>
          <% end %>
          <ul class="list-unstyled">
            <% (@search.aggregations["lycee_filieres.mention_rate"]["buckets"] || @search.aggregations["lycee_filieres.mention_rate"]["lycee_filieres.mention_rate"]["buckets"]).each do |filter| %>
              <li>
                <%= link_to schools_path(@filters.merge("lycee_filieres.mention_rate" => filter["key"])) do %>
                  <% if filter["key"] == "0.0-70.0" %>
                    Moins de 70%
                  <% elsif filter["key"] == "70.0-80.0" %>
                    Plus de 70%
                  <% elsif filter["key"] == "80.0-90.0" %>
                    Plus de 80%
                  <% else %>
                    Plus de 90%
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @search.aggregations.key?("lycee.sections") %>
        <h2 type="button" data-toggle="collapse" data-target="#demo5">Sections</h2>
        <div id="demo5" class="collapse">
          <% if @filters.key?("lycee.sections") %>
            <%= link_to "toutes les sections", schools_path(@filters.merge("lycee.sections" => nil)) %>
          <% end %>
          <ul class="list-unstyled">
            <% (@search.aggregations["lycee.sections"]["buckets"] || @search.aggregations["lycee.sections"]["lycee.sections"]["buckets"]).each do |filter| %>
              <li>
                <%= link_to schools_path(@filters.merge("lycee.sections" => filter["key"])) do %>
                  <%= filter["key"] %> (<%= filter["doc_count"] %>)
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @search.aggregations.key?("lycee.statut") %>
        <h2 type="button" data-toggle="collapse" data-target="#demo6">Statut</h2>
        <div id="demo6" class="collapse">
          <% if @filters.key?("lycee.statut") %>
            <%= link_to "toutes les statut", schools_path(@filters.merge("lycee.statut" => nil)) %>
          <% end %>
          <ul class="list-unstyled">
            <% (@search.aggregations["lycee.statut"]["buckets"] || @search.aggregations["lycee.statut"]["lycee.statut"]["buckets"]).each do |filter| %>
              <li>
                <%= link_to schools_path(@filters.merge("lycee.statut" => filter["key"])) do %>
                  <%= filter["key"] %> (<%= filter["doc_count"] %>)
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <!--------------- LYCEE FILTERS ---------------------->
    </div>



  </div>
  <div class="container">
    <h1> Toutes les Ecoles ! <%= @schools.count %></h1>
    <div class="row">
      <% @schools.each do |school| %>
        <% if school.college %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="main-card">
              <div class="card-image">
                <div class="card-image-button">
                  <%= link_to school_path(school) do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                </div>
              </div>
              <div class="give-card-space">
                <div class="card-school-name">
                  <% if school.name.length > 38 %>
                    <h2>Collège <%= school.name[0..34] + "..." %></h2>
                  <% else %>
                    <h2>Collège <%= school.name%></h2>
                  <% end %>
                </div>

                <div class="card-description">
                  <h5><%= school.commune %></h5>
                  <p><%= school.statut %></p>
                  <ul class="list-inline">
                    <li>Ecole</li>
                    <li class="li-active">College</li>
                    <li>Lycee</li>
                    <li>Prepa</li>
                    <li>BTS</li>
                  </ul>
                </div>
                <div class="card-rating">
                  <%= link_to schools_path do %>
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if school.lycee %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="main-card">
              <div class="card-image">
                <div class="card-image-button">
                  <%= link_to school_path(school) do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                </div>
              </div>
              <div class="give-card-space">
                <div class="card-school-name">
                  <% if school.name.length > 38 %>
                    <h2>Lycée <%= school.name[0..34] + "..." %></h2>
                  <% else %>
                    <h2>Lycée <%= school.name%></h2>
                  <% end %>
                </div>

                <div class="card-description">
                  <h5><%= school.commune %></h5>
                  <p><%= school.statut %></p>
                  <ul class="list-inline">
                    <li>Ecole</li>
                    <li>College</li>
                    <li class="li-active">Lycee</li>
                    <li>Prepa</li>
                    <li>BTS</li>
                  </ul>
                </div>
                <div class="card-rating">
                  <%= link_to schools_path do %>
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


