<div id="displaynonebutton">
  <% if session[:selection] && session[:selection].size > 0 %>
    <%= render "counter" %>
  <% end %>
</div>


<div class="main-container">
  <%= render 'components/sidebar_filters' %>
  <div class="container">
    <%= render 'components/count_and_tags' %>

    <p>Sélectionnez les écoles que vous souhaitez comparer</p>
    <div class="results-container">
      <div class="row">
        <% @schools.each do |school| %>

          <% if school.college %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="main-card">
                <div class="card-image2">
                  <%= link_to compare_school_path(school), remote: true do %>

                    <p class= "card-image-button<%= session[:selection]&.include?(school.id.to_s) ? " card-image-button-active" : "" %>" >
                      +
                    </p>
                  <% end %>
                </div>
                <div class="give-card-space"></div>
                  <div class="card-school-name">
                    <% if school.name.length > 38 %>
                      <h2>Collège <%= school.name[0..34] + "..." %></h2>
                    <% else %>
                      <h2>Collège <%= school.name%></h2>
                    <% end %>
                  </div>

                  <div class="card-description">
                    <h5><%= school.commune %></h5>
                    <p><%= school.statut %></p>
                    <ul class="list-inline">
                      <li>Ecole</li>
                      <li class="li-active">College</li>
                      <li>Lycee</li>
                      <li>Prepa</li>
                      <li>BTS</li>
                    </ul>
                  </div>
                  <div class="card-rating">
                    <%= link_to schools_path do %>
                      <% 5.times do |star| %>
                        <%= image_tag "icons/star_Magicon_full_yellow_160801_F5D327.svg", class: "star-full-show" %>
                      <% end %>
                    <% end %>
                  </div>
              </div>
            </div>
          <% end %>

          <% if school.lycee %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="main-card">
                <div class="card-image2">
                  <%= link_to compare_school_path(school), remote: true do %>

                    <p class= "card-image-button<%= session[:selection]&.include?(school.id.to_s) ? " card-image-button-active" : "" %>" >
                      +
                    </p>
                  <% end %>
                </div>
                <div class="give-card-space"></div>
                  <div class="card-school-name">
                    <% if school.name.length > 38 %>
                      <h2>Lycée <%= school.name[0..34] + "..." %></h2>
                    <% else %>
                      <h2>Lycée <%= school.name%></h2>
                    <% end %>
                  </div>

                  <div class="card-description">
                    <h5><%= school.commune %></h5>
                    <p><%= school.statut %></p>
                    <ul class="list-inline">
                      <li>Ecole</li>
                      <li>College</li>
                      <li class="li-active">Lycee</li>
                      <li>Prepa</li>
                      <li>BTS</li>
                    </ul>
                  </div>

                  <div class="card-rating">
                    <%= link_to schools_path do %>
                      <% 5.times do |star| %>
                      <%= image_tag "icons/star_Magicon_full_yellow_160801_F5D327.svg", class: "star-full-show" %>
                      <% end %>
                    <% end %>
                  </div>

                <div class="hover-card">
                  hello
                </div>
              </div>
            </div>
          <% end %>








        <% end %>
      </div>
    </div>
  </div>
</div>










