<div class="container">
  <h1> Toutes les Ecoles !</h1>
  <div class="row">
    <% @schools.each do |school| %>
      <% if school.college %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="main-card">
            <div class="card-image">
              <div class="card-image-button">
                <%= link_to school_path(school) do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              </div>
            </div>
            <div class="give-card-space">
              <div class="card-school-name">
                <% if school.name.length > 38 %>
                  <h2>Collège <%= school.name[0..34] + "..." %></h2>
                <% else %>
                  <h2>Collège <%= school.name%></h2>
                <% end %>
              </div>

              <div class="card-description">
                <h5><%= school.commune %></h5>
                <p><%= school.statut %></p>
                <ul class="list-inline">
                  <li>Ecole</li>
                  <li class="li-active">College</li>
                  <li>Lycee</li>
                  <li>Prepa</li>
                  <li>BTS</li>
                </ul>
              </div>
              <div class="card-rating">
                <%= link_to schools_path do %>
                  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% if school.lycee %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="main-card">
            <div class="card-image">
              <div class="card-image-button">
                <%= link_to school_path(school) do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              </div>
            </div>
            <div class="give-card-space">
              <div class="card-school-name">
                <% if school.name.length > 38 %>
                  <h2>Collège <%= school.name[0..34] + "..." %></h2>
                <% else %>
                  <h2>Collège <%= school.name%></h2>
                <% end %>
              </div>

              <div class="card-description">
                <h5><%= school.commune %></h5>
                <p><%= school.statut %></p>
                <ul class="list-inline">
                  <li>Ecole</li>
                  <li>College</li>
                  <li class="li-active">Lycee</li>
                  <li>Prepa</li>
                  <li>BTS</li>
                </ul>
              </div>
              <div class="card-rating">
                <%= link_to schools_path do %>
                  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
