<div id="displaynonebutton">
  <% if session[:selection] && session[:selection].size > 0 %>
    <%= render "counter" %>
  <% end %>
</div>


<div class="main-container">
  <%= render 'components/sidebar_filters' %>
  <div class="container">
    <%= render 'components/count_and_tags' %>

    <p>Sélectionnez les écoles que vous souhaitez comparer</p>
    <div class="results-container">
      <div class="row">
        <% @schools.each do |school| %>

          <% if school.college %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="main-card">
                <div class="card-image2">
                  <%= link_to compare_school_path(school), remote: true do %>

                    <p class= "card-image-button<%= session[:selection]&.include?(school.id.to_s) ? " card-image-button-active" : "" %>" >
                      +
                    </p>
                  <% end %>
                </div>
                <div class="give-card-space"></div>
                  <div class="card-school-name">
                    <% if school.name.length > 38 %>
                      <h2>Collège <%= school.name[0..34] + "..." %></h2>
                    <% else %>
                      <h2>Collège <%= school.name%></h2>
                    <% end %>
                  </div>

                  <div class="card-description">
                    <h5><%= school.commune %></h5>
                    <p><%= school.statut %></p>
                    <ul class="list-inline">
                      <li>Ecole</li>
                      <li class="li-active">College</li>
                      <li>Lycee</li>
                      <li>Prepa</li>
                      <li>BTS</li>
                    </ul>
                  </div>
                  <div class="card-rating">
                    <%= link_to schools_path do %>
                      <% 5.times do |star| %>
                        <%= image_tag "Icons/star_Magicon_full_yellow_160801_F5D327.svg", class: "star-full-show" %>
                      <% end %>
                    <% end %>
                  </div>


                  <div class="links-bottom-card" >
                    <div class="link-bottom-card text-center left-link">
                      <p>Fiche complète</p>
                    </div>
                    <div class="link-bottom-card text-center en-savoir-plus" type="button" >
                      <p>En savoir plus</p>
                    </div>
                  </div>



<!-------------------------------------- COLLEGE HOVER CARD ----------------------------------->

                  <div class="hover-card">
                    <div class="back-card-school-name-and-address">
                      <h4><%= school.name %></h4>
                      <p><%= school.college.address %></p>
                    </div>

                    <div class="back-card-icons">
                      <div class="back-geoloc text-center">
                        <%= image_tag "Icons/np_location_304559_000000.svg", width: 40%>
                        <p>12km</p>
                      </div>
                      <div class="back-cantine text-center">
                        <%= image_tag "Icons/Type_ou_niveau_noun_1698517.svg", width: 40%>
                        <p>Cantine</p>
                      </div>
                      <div class="back-pensionnat text-center">
                        <%= image_tag "Icons/Pensionat_969313_000000.svg", width: 40%>
                        <p>Pensionnat</p>
                      </div>
                    </div>

                    <div class="back-card-stats">
                      <div class="back-card-stats-blocks text-center">
                        <p>Sections internationales</p>
                        <h3>4</h3>
                      </div>
                      <div class="back-card-stats-blocks text-center">
                        <p>Sections internationales</p>
                        <h3>4</h3>
                      </div>
                      <div class="back-card-stats-blocks text-center">
                        <p>Sections internationales</p>
                        <h3>4</h3>
                      </div>
                    </div>

                    <div class="back-card-stats">
                      <div class="back-card-stats-blocks text-center orange-data">
                        <p>Résultats <br>au bac</p>
                        <h3>97%</h3>
                      </div>
                      <div class="back-card-stats-blocks text-center orange-data">
                        <p>Taux de <br>mention</p>
                        <h3>69%</h3>
                      </div>
                      <div class="back-card-stats-blocks text-center orange-data">
                        <p>Mentions <br>très bien</p>
                        <h3>12%</h3>
                      </div>
                    </div>


                    <div class="back-card-stats">
                      <div class="back-card-stats-blocks text-center small-gray-data">
                        <p>Classement <br>national</p>
                        <h3>35</h3>
                      </div>
                      <div class="back-card-stats-blocks text-center small-gray-data">
                        <p>Frais de <br>scolarité</p>
                        <h3>6 500</h3>
                      </div>
                      <div class="back-card-stats-blocks text-center small-gray-data">
                        <p>Date <br>inscription</p>
                        <h3>12/10</h3>
                      </div>
                    </div>

                    <div class="links-bottom-card2" >
                      <div class="link-bottom-card2 text-center left-link2">
                        <p>Fiche complète</p>
                      </div>
                      <div class="link-bottom-card2 text-center en-savoir-plus2 left-link2" type="button" >
                        <p>En savoir plus</p>
                      </div>
                    </div>
                  </div>





              </div>
            </div>
          <% end %>




<!-------------------------------------- LYCEE CARDS ----------------------------------->
          <% if school.lycee %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="main-card">
                <div class="card-image2">
                  <%= link_to compare_school_path(school), remote: true do %>

                    <p class= "card-image-button<%= session[:selection]&.include?(school.id.to_s) ? " card-image-button-active" : "" %>" >
                      +
                    </p>
                  <% end %>
                </div>
                <div class="give-card-space"></div>
                  <div class="card-school-name">
                    <% if school.name.length > 38 %>
                      <h2>Lycée <%= school.name[0..34] + "..." %></h2>
                    <% else %>
                      <h2>Lycée <%= school.name%></h2>
                    <% end %>
                  </div>

                  <div class="card-description">
                    <h5><%= school.commune %></h5>
                    <p><%= school.statut %></p>
                    <ul class="list-inline">
                      <li>Ecole</li>
                      <li>College</li>
                      <li class="li-active">Lycee</li>
                      <li>Prepa</li>
                      <li>BTS</li>
                    </ul>
                  </div>

                  <div class="card-rating">
                    <%= link_to schools_path do %>
                      <% 5.times do |star| %>
                      <%= image_tag "Icons/star_Magicon_full_yellow_160801_F5D327.svg", class: "star-full-show" %>
                      <% end %>
                    <% end %>
                  </div>

                  <div class="links-bottom-card">
                    <div class="link-bottom-card text-center left-link">
                      <p>Fiche complète</p>
                    </div>
                    <div class="link-bottom-card text-center en-savoir-plus" type="button">
                      <p>En savoir plus</p>
                    </div>
                  </div>

                  <div class="hover-card">
                    <div class="links-bottom-card" >
                      <div class="link-bottom-card text-center left-link">
                        <p>Fiche complète</p>
                      </div>
                      <div class="link-bottom-card text-center en-savoir-plus2" type="button" >
                        <p>En savoir plus</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          <% end %>








        <% end %>
      </div>
    </div>
  </div>
</div>










