
<div class="body-selection">
  <div class="sticky">
    <div class="container">
      <div class="filters-container">
        <div class="btn-filter-selection address active-filter-selection">
          <p>Adresse</p>
        </div>
        <div class="btn-filter-selection statut active-filter-selection">
          <p>Statut</p>
        </div>
        <div class="btn-filter-selection filieres">
          <p>Filières</p>
        </div>
        <div class="btn-filter-selection sections-int">
          <p>Sections internationales</p>
        </div>
        <div class="btn-filter-selection commune active-filter-selection">
          <p>Commune</p>
        </div>

      </div>
    </div>
  </div>


  <div class="compare-container">
    <% @schools.each do |school| %>
      <div class="card-school-main text-center">
        <!-- image -->
        <div class="card-image">
        </div>

          <% if school.college  %>
            <h2>Collège <%= school.name %></h2>
          <% elsif school.lycee %>
            <h2>Lycée <%= school.name %></h2>
          <% end %>


        <!------------ address ----------------->
        <div class="card-school-category target-address ">
          <p>Adresse</p>
          <% if school.college  %>
            <h2><%= school.college.address %></h2>
          <% elsif school.lycee %>
            <h2><%= school.lycee.address %></h2>
          <% end %>
        </div>
        <!------------ status ------------------>
        <div class="card-school-category target-statut ">
          <h2>Statut</h2>
          <p>Etablissement privé</p>
        </div>
        <!------------ filières ----------------->
        <div class="card-school-category target-filieres hide-filter">
          <h2>Filières</h2>
          <p>S, ES et L</p>
        </div>
        <!-- date d'inscription -->
        <div class="card-school-category target-sections-int hide-filter">
          <p>Sections internationales</p>
          <h2>Anglais, Espagnol</h2>
        </div>



        <!-- frais de scolarité -->
        <div class="card-school-category target-commune ">
          <p>Commune</p>
          <h2><%= school.commune %></h2>
        </div>

        <!-- Pensionnat -->
        <div class="card-school-category hide-filter">
          <h2>Pensionnat</h2>
          <p>Oui</p>
        </div>
        <!-- Cantine -->
        <div class="card-school-category hide-filter">
          <h2>Cantine</h2>
          <p>Oui</p>
        </div>

        <!-- Options -->
        <div class="card-school-category hide-filter">
          <h2>Options</h2>
          <p>Différentielle et fun</p>
        </div>
        <!-- résultat bac -->
        <div class="card-school-category hide-filter">
          <h2>Taux de réussite au bac</h2>
          <p>91%</p>
        </div>

        <!-- classement -->
        <div class="card-school-category hide-filter">
          <h2>Classement excellence</h2>
          <p>1ere école sur 3000</p>
        </div>
        <!-- rapport qualité prix -->
        <div class="card-school-category hide-filter">
          <h2>Classement qualité/prix</h2>
          <p>139e école sur 3000</p>
        </div>

      </div>
    <% end %>
  </div>


</div>

