
<div class="hat-notifs2" data-toggle="tooltip" data-placement="left" data-html="true"
title="
         <strong>Vous êtes perdu ?</strong>
         <br>
         <p>Cochez/décochez les filtres pour comparer les critères qui vous interressent !</p>

         <p>Maintenez le clic enfoncé sur une école pour la positionner où vous le souhaitez !</p>
       ">
  <h1 class="orange-counter2">
    ?
  </h1>
  <p>Besoin d'aide</p>
</div>



<div class="body-selection">
  <div class="sticky">
    <div class="container">
      <div class="filters-container">
        <div class="btn-filter-selection address active-filter-selection">
          <p>Adresse</p>
        </div>
        <div class="btn-filter-selection commune active-filter-selection">
          <p>Commune</p>
        </div>

        <div class="btn-filter-selection statut active-filter-selection">
          <p>Statut</p>
        </div>

        <% verif = @schools.select { |school| school.lycee } %>
        <% if verif.size > 0 %>
          <div class="btn-filter-selection filieres">
            <p>Filières</p>
          </div>
        <% end %>

        <% verif = @schools.select { |school| school.college } %>
        <% if verif.size > 0 %>
          <div class="btn-filter-selection pensionnat">
            <p>Pensionnat</p>
          </div>
        <% end %>


        <div class="btn-filter-selection sections-int">
          <p>Sections internationales</p>
        </div>

      </div>
    </div>
  </div>


  <div class="compare-container list-group" id="simpleList">
    <% @schools.each do |school| %>
      <div class="card-school-main text-center list-group-item">
        <!-- image -->
        <div class="card-image">
        </div>
        <div class="title-etablissement">
          <% if school.college  %>
            <h2>Collège <%= school.name %></h2>
          <% elsif school.lycee %>
            <h2>Lycée <%= school.name %></h2>
          <% end %>
        </div>


        <!------------ address ----------------->
        <div class="card-school-category target-address ">
          <p>Adresse</p>
          <% if school.college  %>
            <h2><%= school.college.address %></h2>
          <% elsif school.lycee %>
            <h2><%= school.lycee.address %></h2>
          <% end %>
        </div>
        <!-- commune -->
        <div class="card-school-category target-commune ">
          <p>Commune</p>
          <h2><%= school.commune %></h2>
        </div>
        <!------------ status ------------------>
        <div class="card-school-category target-statut ">
          <p>Statut</p>
          <h2><%= school.statut %></h2>
        </div>
        <!------------ filières ----------------->
        <div class="card-school-category target-filieres hide-filter">
          <p>Filières</p>
          <% if school.lycee %>
            <h2>
              <ul class="list-inline">
              <%school.lycee.filieres.each do |filiere|%>
                <li><%= filiere.name %></li>
              <% end %>
              </ul>
            </h2>
          <% end %>
        </div>
        <!-- sections int -->
        <div class="card-school-category target-sections-int hide-filter">
          <p>Sections internationales</p>

            <% if school.college %>

                <% if !school.college.sections.empty? %>
                  <% school.college.sections.each do |section| %>
                    <h2><%=section.capitalize%></h2>
                  <% end %>
                <% else %>
                  <h2> Pas de sections internationales </h2>
                <% end %>


            <% elsif school.lycee %>

               <% if !school.lycee.sections.empty? %>
                  <% school.lycee.sections.each do |section| %>
                    <h2><%=section.capitalize%></h2>
                  <% end %>
                <% else %>
                  <h2> Pas de sections internationales </h2>
                <% end %>

            <% else %>
              Non
            <% end %>

        </div>

        <!-- Pensionnat -->
        <div class="card-school-category target-pensionnat hide-filter">
          <p>Pensionnat</p>
          <% if school.college %>
            <h2>
              <% if school.college.pensionnat %>
                Oui
              <% else %>
                Non
              <% end %>
            </h2>
          <% end %>
        </div>



        <!------------ A INCLURE ---------------->

        <!-- Cantine -->
        <div class="card-school-category hide-filter">
          <h2>Cantine</h2>
          <p>Oui</p>
        </div>

        <!-- Options -->
        <div class="card-school-category hide-filter">
          <h2>Options</h2>
          <p>Différentielle et fun</p>
        </div>
        <!-- résultat bac -->
        <div class="card-school-category hide-filter">
          <h2>Taux de réussite au bac</h2>
          <p>91%</p>
        </div>

        <!-- classement -->
        <div class="card-school-category hide-filter">
          <h2>Classement excellence</h2>
          <p>1ere école sur 3000</p>
        </div>
        <!-- rapport qualité prix -->
        <div class="card-school-category hide-filter">
          <h2>Classement qualité/prix</h2>
          <p>139e école sur 3000</p>
        </div>

      </div>
    <% end %>
  </div>


</div>

