<%= render 'shared/navbar' %>



<div class="hat-notifs2" data-toggle="tooltip" data-placement="left" data-html="true"
title="
         <strong>Vous êtes perdu ?</strong>
         <br>
         <p>Cochez/décochez les filtres pour comparer les critères qui vous interressent !</p>

         <p>Maintenez le clic enfoncé sur une école pour la positionner où vous le souhaitez !</p>
       ">
  <h1 class="orange-counter2">
    ?
  </h1>
  <p>Besoin d'aide</p>
</div>



<div class="body-selection">
  <div class="sticky">
    <div class="container">
      <div class="filters-container">


        <div class="btn-filter-selection SR active-filter-selection">
          <p>Taux de réussite au bac</p>
        </div>

        <div class="btn-filter-selection MR active-filter-selection">
          <p>Taux de mentions</p>
        </div>


        <div class="btn-filter-selection rating active-filter-selection">
          <p>Note globale TopEcoles </p>
        </div>

        <% verif = @schools.select { |school| school.lycee } %>
        <% if verif.size > 0 %>
          <div class="btn-filter-selection filieres">
            <p>Filières</p>
          </div>
        <% end %>

        <% verif = @schools.select { |school| school.college } %>
        <% if verif.size > 0 %>
          <div class="btn-filter-selection pensionnat">
            <p>Pensionnat</p>
          </div>
        <% end %>

        <div class="btn-filter-selection price active-filter-selection">
          <p>Prix</p>
        </div>

        <div class="btn-filter-selection classementnat active-filter-selection">
          <p>Classement national</p>
        </div>


        <div class="btn-filter-selection sections-int">
          <p>Sections internationales</p>
        </div>

        <div class="btn-filter-selection matieres-optionnelles">
          <p>Matières optionnelles</p>
        </div>

        <div class="btn-filter-selection multiple-redoublement active-filter-selection">
          <p>Redoublement multiple</p>
        </div>

      </div>
    </div>
  </div>


  <div class="compare-container list-group" id="simpleList">
    <% @schools.each do |school| %>
      <div class="card-school-main text-center list-group-item">
        <!-- image -->
        <div class="card-image">
        </div>
        <div class="title-etablissement">
          <% if school.college  %>
            <h2>Collège <%= school.name %></h2>
          <% elsif school.lycee %>
            <h2>Lycée <%= school.name %></h2>
          <% end %>
        </div>




         <!-- résultat bac -->
        <div class="card-school-category target-SR ">
          <p>Taux de réussite au bac</p>
          <% if school.lycee %>
            <% if school.lycee.filieres.first != nil && !school.lycee.filieres.first.success_rate.nil? %>
              <h2><%= school.lycee.filieres.first.success_rate %> % </h2>
            <% end %>
          <% end %>
        </div>

        <div class="card-school-category target-MR ">
          <p>Taux de mentions</p>
          <% if school.lycee %>
            <% if school.lycee.filieres.first != nil && !school.lycee.filieres.first.mention_rate.nil?  %>
              <h2><%= school.lycee.filieres.first.mention_rate %> % </h2>
            <% end %>
          <% end %>
        </div>

         <!------------ rating ------------------>
        <div class="card-school-category target-rating ">
          <p>Note globale TopEcoles</p>

          <% if school.lycee %>
            <% number = school.lycee.rating %>
          <% else %>
            <% number = school.college.rating %>
          <% end %>
          <% number.times do |star| %>
            <%= image_tag "Icons/star_Magicon_full_yellow_160801_F5D327.svg", class: "star-full-show" %>
          <% end %>
        </div>




        <!------------ filières ----------------->
        <div class="card-school-category target-filieres hide-filter">
          <p>Filières</p>
          <% if school.lycee %>
            <h2>
              <ul class="list-inline">
              <%school.lycee.filieres.each do |filiere|%>
                <li><%= filiere.name %></li>
              <% end %>
              </ul>
            </h2>
          <% end %>
        </div>
        <!-- sections int -->
        <div class="card-school-category target-sections-int hide-filter">
          <p>Sections internationales</p>

            <% if school.college %>

                <% if !school.college.sections.empty? %>
                  <% school.college.sections.each do |section| %>
                    <h2><%=section.capitalize%></h2>
                  <% end %>
                <% else %>
                  <h2> Pas de sections internationales </h2>
                <% end %>


            <% elsif school.lycee %>

               <% if !school.lycee.sections.empty? %>
                  <% school.lycee.sections.each do |section| %>
                    <h2><%=section.capitalize%></h2>
                  <% end %>
                <% else %>
                  <h2> Pas de sections internationales </h2>
                <% end %>

            <% else %>
              Non
            <% end %>

        </div>

        <!-- Pensionnat -->
        <div class="card-school-category target-pensionnat hide-filter">
          <p>Pensionnat</p>
          <% if school.college %>
            <h2>
              <% if school.college.pensionnat %>
                Oui
              <% else %>
                Non
              <% end %>
            </h2>
          <% end %>
        </div>


        <div class="card-school-category target-price">
          <p>Prix de la scolarité</p>
          <h2><%= ["2000", "2500", "4700", "5000", "7000", "14 000"].sample %>€</h2>
        </div>



        <div class="card-school-category target-classementnat">
          <p>Classement national</p>
          <h2><%= (1..900).to_a.sample %> / 3000 </h2>
        </div>


        <div class="card-school-category target-multiple-redoublement">
          <p>Multiple redoublement possible</p>
          <h2><%= ["Oui", "Oui", "Non"].sample %></h2>
        </div>




        <!------------ A INCLURE ---------------->

        <!-- Cantine -->
        <div class="card-school-category hide-filter">
          <h2>Cantine</h2>
          <p>Oui</p>
        </div>

        <!-- Options -->
        <div class="card-school-category hide-filter">
          <h2>Options</h2>
          <p>Différentielle et fun</p>
        </div>


        <!-- classement -->
        <div class="card-school-category hide-filter">
          <h2>Classement excellence</h2>
          <p>1ere école sur 3000</p>
        </div>
        <!-- rapport qualité prix -->

      <div class="go-to-website-1 link-selection ">
       <a href="http://www.sion-paris.fr/lycee-notre-dame-de-sion" target="_blank" >Aller sur le site de l'école</a>
      </div>
      </div>
    <% end %>
  </div>


</div>





