<%= render 'shared/navbar' %>


<!--------- Bouton qui au hover donne une aide sur l'utilisation de la page  ------------->
<div class="hat-notifs2" data-toggle="tooltip" data-placement="left" data-html="true"
title="
         <strong>Vous êtes perdu ?</strong>
         <br>
         <p>Cochez/décochez les filtres pour comparer les critères qui vous interressent !</p>

         <p>Maintenez le clic enfoncé sur une école pour la positionner où vous le souhaitez !</p>
       ">
  <p class="orange-counter2">
    ?
  </p>
  <p>Besoin d'aide</p>
</div>


<!-- Barre de sélection ou déselection des filtres à activer pour les faire apparaitre sur les cartes de comparaison -->
<div class="body-selection">
  <div class="sticky">
    <div class="container">
      <div class="filters-container">

        <div class="btn-filter-selection SR active-filter-selection">
          <p>Taux de réussite au bac</p>
        </div>

        <div class="btn-filter-selection MR active-filter-selection">
          <p>Taux de mentions</p>
        </div>


        <div class="btn-filter-selection rating active-filter-selection">
          <p>Note globale TopEcoles </p>
        </div>

        <% verif = @schools.select { |school| school.lycee } %>
        <% if verif.size > 0 %>
          <div class="btn-filter-selection filieres">
            <p>Filières</p>
          </div>
        <% end %>

        <% verif = @schools.select { |school| school.college } %>
        <% if verif.size > 0 %>
          <div class="btn-filter-selection pensionnat">
            <p>Pensionnat</p>
          </div>
        <% end %>

        <div class="btn-filter-selection price active-filter-selection">
          <p>Prix</p>
        </div>

        <div class="btn-filter-selection classementnat active-filter-selection">
          <p>Classement national</p>
        </div>


        <div class="btn-filter-selection sections-int">
          <p>Sections internationales</p>
        </div>

        <div class="btn-filter-selection matieres-optionnelles active-filter-selection">
          <p>Matières optionnelles</p>
        </div>

        <div class="btn-filter-selection multiple-redoublement active-filter-selection">
          <p>Redoublement multiple</p>
        </div>

      </div>
    </div>
  </div>



<!-------------- Cartes de comparaison des différentes écoles  -------------->




  <div class="compare-container list-group" id="simpleList">
    <% @schools.each do |school| %>
      <div class="card-school-main text-center list-group-item">




        <!-- image -->

        <% if school.photo.url != nil %>
          <div class="compare-card-image" style="background-image: url('<%= cl_image_path school.photo%>') !important"></div>
        <% else %>
          <div class="card-image2"></div>
        <% end %>



















      <!--- TITRE DE L'ETABLISSEMENT -->
        <div class="title-etablissement">
          <% if school.college  %>
            <p>Collège <%= school.name %></p>
          <% elsif school.lycee %>
            <p>Lycée <%= school.name %></p>
          <% end %>
        </div>




         <!-- résultat bac : Success rate, taux de réussite -->
        <div class="card-school-category target-SR ">
          <p>Taux de réussite au bac</p>
          <% if school.lycee %>
            <% if school.lycee.filieres.first != nil && !school.lycee.filieres.first.success_rate.nil? %>
              <p><%= school.lycee.filieres.first.success_rate %> % </p>
            <% end %>
          <% end %>
        </div>


        <!-- résultat bac : mention rate, taux de mention -->
        <div class="card-school-category target-MR ">
          <p>Taux de mentions</p>
          <% if school.lycee %>
            <% if school.lycee.filieres.first != nil && !school.lycee.filieres.first.mention_rate.nil?  %>
              <p><%= school.lycee.filieres.first.mention_rate %> % </p>
            <% end %>
          <% end %>
        </div>

         <!------------ rating ------------------>
        <div class="card-school-category target-rating ">
          <p>Note globale TopEcoles</p>

          <% if school.lycee %>
            <% number = school.lycee.rating %>
          <% else %>
            <% number = school.college.rating %>
          <% end %>
          <% number.times do |star| %>
            <%= image_tag "Icons/star_Magicon_full_yellow_160801_F5D327.svg", class: "star-full-show" %>
          <% end %>
        </div>




        <!------------ filières ----------------->
        <div class="card-school-category target-filieres hide-filter">
          <p>Filières</p>
          <% if school.lycee %>
            <p>
              <ul class="list-inline">
              <%school.lycee.filieres.each do |filiere|%>
                <li><%= filiere.name %></li>
              <% end %>
              </ul>
            </p>
          <% end %>
        </div>
        <!-- sections int -->
        <div class="card-school-category target-sections-int hide-filter">
          <p>Sections internationales</p>

            <% if school.college %>

                <% if !school.college.sections.empty? %>
                  <% school.college.sections.each do |section| %>
                    <p><%=section.capitalize%></p>
                  <% end %>
                <% else %>
                  <p> Pas de sections internationales </p>
                <% end %>


            <% elsif school.lycee %>

               <% if !school.lycee.sections.empty? %>
                  <% school.lycee.sections.each do |section| %>
                    <p><%=section.capitalize%></p>
                  <% end %>
                <% else %>
                  <p> Pas de sections internationales </p>
                <% end %>

            <% else %>
              Non
            <% end %>

        </div>

        <!-- Pensionnat -->
        <div class="card-school-category target-pensionnat hide-filter">
          <p>Pensionnat</p>
          <% if school.college %>
            <p>
              <% if school.college.pensionnat %>
                Oui
              <% else %>
                Non
              <% end %>
            </p>
          <% end %>
        </div>


        <div class="card-school-category target-price">
          <p>Prix de la scolarité</p>
          <p><%= ["2000", "2500", "4700", "5000", "7000", "14 000"].sample %>€</p>
        </div>



        <div class="card-school-category target-classementnat">
          <p>Classement national</p>
          <p><%= (1..900).to_a.sample %> / 3000 </p>
        </div>


        <div class="card-school-category target-multiple-redoublement">
          <p>Multiple redoublement possible</p>
          <p><%= ["Oui", "Oui", "Non"].sample %></p>
        </div>




        <!------------ A INCLURE ---------------->

        <!-- Cantine -->
        <div class="card-school-category target-matieres-optionnelles">
          <p>Matières optionnelles</p>
          <p>
            <%= ["Surf", "Danse", "Littéraure", "Chant", "Latin", "Informatique"].sample %>
          </p>
        </div>

        <!-- Options -->
        <div class="card-school-category hide-filter">
          <p>Options</p>
          <p>Différentielle et fun</p>
        </div>


        <!-- classement -->
        <div class="card-school-category hide-filter">
          <p>Classement excellence</p>
          <p>1ere école sur 3000</p>
        </div>
        <!-- rapport qualité prix -->

      <div class="go-to-website-1 link-selection ">
       <a href="http://www.sion-paris.fr/lycee-notre-dame-de-sion" target="_blank" >Aller sur le site de l'école</a>
      </div>
      </div>
    <% end %>
  </div>


</div>





