<div class="container banner">
  <div class="col-xs-12 col-sm-8">
    <div class="school-name"><h1><%= @school.name %></h1>
      <% 5.times do |star| %>
      <%= image_tag "Icons/star_Magicon_full_yellow_160801_F5D327.svg", class: "star-full-show" %>
      <% end %>
    </div>
  </div>
</div>
<div class="wrapper body">
  <!-- <div class="disappear">
    <div id="list-example" class="list-group sticky">
      <a class="list-group-item list-group-item-action" href="#list-item-1">Adresse</a>
      <a class="list-group-item list-group-item-action" href="#list-item-2">Distance</a>
      <a class="list-group-item list-group-item-action" href="#list-item-3">L'école</a>
      <a class="list-group-item list-group-item-action" href="#list-item-4">Nombre d'éleves</a>
      <a class="list-group-item list-group-item-action" href="#list-item-5">Section Internationales</a>
      <a class="list-group-item list-group-item-action" href="#list-item-6">Pensionnat</a>
      <a class="list-group-item list-group-item-action" href="#list-item-7">Options - Matiéres</a>
      <a class="list-group-item list-group-item-action" href="#list-item-8">Date d'inscription</a>
      <a class="list-group-item list-group-item-action" href="#list-item-9">Nombre d'élèves</a>
      <a class="list-group-item list-group-item-action" href="#list-item-10">Adresse</a>
      <a class="list-group-item list-group-item-action" href="#list-item-11">Distance</a>
      <a class="list-group-item list-group-item-action" href="#list-item-12">Adresse</a>
      <a class="list-group-item list-group-item-action" href="#list-item-13">Distance</a>
      <a class="list-group-item list-group-item-action" href="#list-item-14">Section Internationales</a>
      <a class="list-group-item list-group-item-action" href="#list-item-15">Pensionnat</a>
      <a class="list-group-item list-group-item-action" href="#list-item-16">Options - Matiéres</a>
      <a class="list-group-item list-group-item-action" href="#list-item-17">Date d'inscription</a>
      <a class="list-group-item list-group-item-action" href="#list-item-18">Nombre d'élèves</a>
    </div>
  </div> -->
  <div class="container text">
    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
      <!-- ///  first row -->
      <div class="paragraph">
        <div class="mozaik-1">
          <h4 id="list-item-1">Adresse</h4>
          <p>Amiens 80400<br>144, boulevard de Saint-Quentin</p>
        </div>
        <div class="mozaik-2">
          <h4 id="list-item-1">Distance</h4>
          <p id="Distance-Alfa-Slab">15 km</p>
        </div>
        <div class="mozaik-2">
          <h4 id="list-item-1">Etablissement</h4>
          <p id="Distance-Alfa-Slab">Privé</p>
        </div>
        <div class="mozaik-2">
          <h4 id="list-item-1">Fondé en</h4>
          <p id="Distance-Alfa-Slab">1923</p>
        </div>
        <div class="mozaik-2">
          <h4 id="list-item-1">Elèves</h4>
          <p id="Distance-Alfa-Slab">657</p>
        </div>
      </div>
<!-- ::::::   2nd row -->
      <div class="paragraph1">
        <div class="mozaik-3">
          <h4 id="list-item-1">Le mot du Proviseur</h4>
          <%= image_tag 'Proviseur.jpg', width:300 %>
        </div>
        <div class="mozaik-4">
          <h4 id="list-item-1">Le Lycée</h4>
          <p>La Providence est un établissement catholique d’enseignement, sous tutelle Jésuite, ouvert à tous, qui permet à un jeune de poursuivre sa scolarité de la maternelle aux classes post bac.
          Choisir notre établissement pour votre enfant c’est lui donner la possibilité de s’épanouir, de grandir dans un environnement où il sera considéré comme une personne à part entière, comme un adulte en devenir que nous avons le devoir de former dans toutes ses dimensions. Le site même de La Providence se prête à une pédagogie adaptée, permettant de disposer, dans un cadre de qualité et de verdure, en centre-ville, d’infrastructures sportives, culturelles et d’enseignement de qualité : piscine, terrains de sports, salle de théâtre, foyers..
          ETRE- AGIR – REUSSIR - GRANDIR, telle est notre devise qui nous pousse à vouloir l’excellence pour les jeunes que nous accueillons, mais une excellence qui n’est pas uniquement tournée vers des connaissances à acquérir. Nous souhaitons permettre à chaque élève de découvrir et exprimer ses talents, au travers d’une pédagogie qui fait de la persévérance et du goût de l’effort des atouts pour réussir et pour repousser toujours plus loin ses propres limites.</p>
        </div>
      </div>
<!-- /////////  3rd row -->
      <div class="paragraph">
        <div class="mozaik-2-5">
          <h4 id="list-item-1">Niveaux</h4>
          <p id="Distance-Alfa-Slab">3</p>
        </div>
        <div class="mozaik-2">
          <h4 id="list-item-1">Ecole</h4>
          <%= image_tag 'Icons/np_building_1343368_E67E22.svg', width:100 %>
        </div>
        <div class="mozaik-2">
          <h4 id="list-item-1">Collège</h4>
          <%= image_tag 'Icons/school_college_orange_881327_F09000.svg', width: 110 %>
        </div>
        <div class="mozaik-2">
          <h4 id="list-item-1">Lycée</h4>
          <%= image_tag 'Icons/school_high_orange_1018405_F09000.svg', width:100 %>
        </div>
        <div class="mozaik-2">
          <h4 id="list-item-1">Post-Bac</h4>
          <p id="Distance-Alfa-Slab">-</p>
        </div>
      </div>
<!-- /////////  4th row -->
      <div class="paragraph4">
        <div class="mozaik-9">
        </div>
        <div class="mozaik-10">
          <h4 id="list-item-1">Journées Portes ouvertes</h4>
          <%= image_tag 'portesouvertes.jpg', width:300 %>
        </div>
        <div class="mozaik-11">
          <p id="big">25 Nov<br>2018</p>
        </div>
        <div class="mozaik-10">
          <h4 id="list-item-1">Inscription</h4>
          <%= image_tag 'linscription.jpg', width:260 %>
        </div>
        <div class="mozaik-11">
          <p id="big">25 Avril<br>2019</p4>
        </div>
        <div class="mozaik-9">
        </div>
      </div>
<!-- /////////  6th row -->
      <div class="paragraph2">
        <div class="mozaik-5">
        </div>
        <div class="mozaik-6">
          <h4 id="list-item-2">Réussite<br>au Bac</h4>
          <p id="Distance-Alfa-Slab-2">97%</p>
        </div>
        <div class="mozaik-6">
          <h4 id="list-item-2">Nombre<br>d'inscrits</h4>
          <p id="Distance-Alfa-Slab-2">231</p>
        </div>
        <div class="mozaik-6">
          <h4 id="list-item-2">Taux<br>de mention</h4>
          <p id="Distance-Alfa-Slab-2">76%</p>
        </div>
        <div class="mozaik-6">
          <h4 id="list-item-2">Mention<br>assez bien</h4>
          <p id="Distance-Alfa-Slab-2">26%</p>
        </div>
        <div class="mozaik-6">
          <h4 id="list-item-2">Mention<br>bien</h4>
          <p id="Distance-Alfa-Slab-2">32%</p>
        </div>
        <div class="mozaik-6">
          <h4 id="list-item-2">Mention<br>très bien</h4>
          <p id="Distance-Alfa-Slab-2">18%</p>
        </div>
        <div class="mozaik-5">
        </div>
      </div>
<!-- /////////  7th row -->
      <div class="paragraph3">
        <div class="mozaik-7">
        </div>
        <div class="mozaik-8">
          <h4 id="list-item-5">Sections internationales</h4>
          <p>OIB section américaine<br>AbiBac section bi-nationale franco-allemande<br></p>
        </div>
        <div class="mozaik-8">
          <h4 id="list-item-5">Sections européennes</h4>
          <p>Euro-allemand<br>Espagnol</p>
        </div>
        <div class="mozaik-8">
          <h4 id="list-item-5">Options</h4>
          <p>Théâtre<br>Cinéma</p>
        </div>
        <div class="mozaik-7">
        </div>
      </div>
<!-- /////////  8th row -->
      <div class="paragraph3">
        <div class="mozaik-7">
        </div>
        <div class="mozaik-8">
          <h4 id="list-item-5">Pensionnat</h4>
          <p>5 - jours<br>7 - jours<br></p>
        </div>
        <div class="mozaik-8">
          <h4 id="list-item-5">Cantine</h4>
          <p>Demi-pension / Tarif : 3.9E par repas<br>Horaires : 12-14h Lundi - Vendredi</p>
        </div>
        <div class="mozaik-8">
          <h4 id="list-item-5">Transport</h4>
          <p>Bus<br>Covoiturage</p>
        </div>
        <div class="mozaik-7">
        </div>
      </div>
      <!-- /////////  9th row -->
      <div class="paragraph5">
        <div class="mozaik-12">
          <%= image_tag 'Schoolphoto1.jpg', width:300 %>
        </div>
        <div class="mozaik-12">
          <%= image_tag 'Schoolphoto2.jpg', width:300 %>
        </div>
        <div class="mozaik-12">
          <%= image_tag 'schoolphoto3.jpg', width:300 %>
        </div>
      </div>
    </div>
  </div>
</div>
